<!DOCTYPE html>
<html>
<head>
<title>Practice</title>
<style>
body{
    background:linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
button{
    padding:20px 40px;
    font-size:20px;
    border:none;
    border-radius:10px;
    background:#00ffcc;
    cursor:pointer;
    transition:0.3s;
}
button:hover{
    transform:scale(1.1);
}
</style>
</head>
<body>

<form action="/dashboard">
<button>🚀 Click here to Practice for INDIAN NAVY MR</button>
</form>

</body>
</html>